footer {
  padding: 100px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  color: var(--white);
}

footer::after {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  z-index: -1;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}

footer .contact .logo {
  width: 120px;
  margin: 0 auto;
  display: block;
}

.contact-details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.contact-detail {
  display: flex;
  align-items: center;
  gap: 10px;
}

footer a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--white);
}

@media(max-width:1024px) {
  footer {
    padding: 60px 0;
  }
}